@font-face {
    font-family: 'Gilroy';
    font-weight: bold;
    src: url("fonts/Gilroy-ExtraBold.ttf");
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;

}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Gilroy', sans-serif;
    text-transform: uppercase;
}

h1 {
    font-size: 32px;
}

.wrapper {
    max-width: 1200px;
    padding: 10px;
    margin: auto;
}

a {
    text-decoration: none;
}

a.schedule__link--red::after {
    content: "\2192";
    font-size: 16px;
    left: 5px;
    position: relative;
}

a.schedule__link--red {
    text-transform: uppercase;
    color: #B12C3D;
    font-weight: bold;
    font-size: 14px;
}

.schedule__info {
    max-width: 700px;
    margin-top: 36px;
    position: relative;
    line-height: 26px;
}

.schedule__info:before {
    content: "";
    width: 50px;
    height: 3px;
    top: -20px;
    left: 0;
    position: absolute;
    background-color: #ba2539;
}

.tabs {
    display: flex;
    color: #9C846C;
    margin: 36px 0 20px;
    width: fit-content;
    position: relative;
}

.tabs:after, .tab.active:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    background: #f3f3f3;
    bottom: 0;
    left: 0;
}

.tab {
    text-align: center;
    cursor: pointer;
    margin: 0 10px;
    padding: 10px 5px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    white-space: nowrap;
}

.tab:first-child {
    margin-left: 0;
    padding-left: 0;
}

.tab:last-child {
    margin-right: 0;
    padding-right: 0;
}

.tab .tab__date {
    display: none;
}

.tab.active {
    font-size: 14px;
    position: relative;
    text-align: left;
}

.tab.active:after {
    background: #9C846C;
    z-index: 1;
}

.tab.active .tab__date {
    display: block;
    color: #606060;
    font-size: 13px;
}

.grid {
    display: flex;
}

.times {
    width: 70px;
}

.times > div {
}

.grid {
    display: grid;
    grid-template-columns: 60px repeat(7, 1fr);
    grid-template-rows: 36px repeat(8, 1fr);
    font-size: 13px;
}

.grid__head {
    text-align: center;
    background: #fafafa;
    color: #bababa;
    font-weight: bold;
    position: sticky;
    z-index: 1;
}

.grid__head:not(.grid__time) {
    top: 0;
}

.grid__time:first-child {
    top: 0;
    z-index: 2;
}

.grid__time {
    left: 0;
    display: flex;
}

.grid__time > span {
    margin: auto;
}

.grid > div {
    border: 1px solid #ececec;
    padding: 10px 5px;
}

.grid > div:nth-child(8n) {
}

.grid {
    border: 1px solid #ececec;
}


.item {
    position: relative;
}

.item:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.item__title {
    font-weight: bold;
    min-height: 38px;
    text-transform: uppercase;
}

.item__name {
    color: #B12C3D;
}

.item__color {
    position: absolute;
    right: 5px;
    bottom: 0;
}

.item__color span, .levels__color span {
    display: inline-block;
    width: 12px;
    height: 6px;
    border-radius: 4px;
}

.item__color--any span, .levels__color--any span {
    background-color: #9C846C;
}

.item__color--start span, .levels__color--start span {
    background-color: #58C95D;
}

.item__color--medium span, .levels__color--medium span {
    background-color: #2F90FB;
}

.item__color--high span, .levels__color--high span {
    background-color: #E31F21;
}

.levels {
    display: flex;
}

.levels__color {
    margin-right: 12px;
}

.levels__color span {
    position: relative;
    bottom: 3px;
    width: 16px;
    margin-right: 8px;
}

.tabs_select {
    display: none;
}

.tabs_select select {
    font-size: 16px;
}

.table-open-link, .table-close-link {
    display: none;
}

@media screen and (max-width: 1176px) {

    .grid {
        overflow-x: scroll;
        max-height: 90vh;
        display: none;
    }

    .table-wrapper {
        display: none;
    }

    .table-wrapper > *:not(.grid) {
        padding: 0 10px;
    }

    body:target {
        overflow: hidden;
    }

    body:target .table-wrapper {
        display: flex;
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;
        background: white;
        z-index: 99999;
        height: 100vh;
        width: 100vw;
    }

    body:target .grid {
        display: grid;
    }

    body:target .levels {
        margin-bottom: 20px;
    }

    .table-close-link {
        display: block;
        position: fixed;
        right: 10px;
        top: 10px;
        background: rgba(128, 128, 128, 0.7);
        border-radius: 50%;
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        text-align: center;
        text-decoration: unset;
        color: transparent;
        text-shadow: 0 0 0 #ffffff;
    }

    .table-open-link {
        display: block;
        font-size: larger;
        color: black;
        margin: 30px 0;
    }

    .item {
        min-width: 160px;
        min-height: 100px;
    }
}

@media screen and (max-width: 800px) {

    .tabs {
        display: none;
    }

    .tabs_select {
        display: block;
    }

    #select {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .levels {
        flex-wrap: wrap;
    }

    .levels__color {
        margin: 0;
        flex-basis: 50%;
        flex-grow: 1;
    }
}
